button
    border none
    border-radius 5px
    padding 10px 10px
    background none
    box-shadow inset 0 0 0 1px $button-gray
    color $text-gray
    min-width 110px
    text-align center
    cursor pointer
    outline none
    margin 5px
    
    &.accent
        box-shadow none
        font-weight bold
        background $accent-color
        color #fff
