@import "variables/color.styl"

.message
    padding 10px 20px
    border-radius 5px
    color $text-black
    white-space pre-wrap
    
    &.your
        left 0
        background-color $your-msg-color
        
    &.partner
        right 0
        background-color $partner-msg-color
        
    &.server
        right 0
        color $text-gray 