@media (max-width: 660px)
    .view.streams .stream-bar
        width 100% !important
        border none
    .view.streams .dialog
        display none
    .view.streams .resize-line.vertical
        display none
    .view.chat .stream-bar
        display none
    .header .switch
        display block

@media (max-height: 660px)
    .smile-list
        height 90%
