// General
$accent-color = #69dca5

// Text
$text-black = #111
$text-gray = #999
$font = 'Helvetica';

// Layout
$header-bg-color = #efefef
$stream-bg-color = #fafafa
$textarea-bg-color = #fefefe
$border-color = #eee

// Link
$link-color = #0060ff

// Masangers-color
$partner-msg-color = #f2f2f2
$you-msg-color = #cff7df