// General
$accent-color = #0dc989

// Link
$link-color = #0060ff

// Text
$text-black = #111
$text-gray = #888
$font = 'Helvetica';

// Layout
$header-bg-color = #efefef
$stream-bg-color = #fafafa
$console-bg-color = #fefefe
$border-color = #dfdfdf
$button-gray = #ccc
$video-bg = #161617

// Masangers-color
$partner-msg-color = #f2f2f2
$your-msg-color = #cff7df
$system-msg-color = $text-gray

// Controls color
$hover-collor = #f2f2f2

// Other
$popup-shadow = 0 0 8px 2px rgba(0, 0, 0, .1) 